
<%= form_for [commentable, Comment.new]  do |f| %>

  <div class="row">
    <div class="col-md-8">

      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "add a comment", autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.submit class: "btn btn-success pull-right" %>
      </div>

    </div>
  </div>

<% end %>

<!--  -->
