<br>
 <div class="jumbotron">
   <h1>Polymorphic</h1>
   <p>This is a test app for polymorphism!</p>
   <p>

       <%= link_to "Sign In", "#", class: 'btn btn-primary' %> or
       <%= link_to "about", about_path, class: 'btn btn-primary' %> today!

   </p>
   </p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>Test app</h2>
     <p>This is how we do it.</p>
   </div>
   <div class="col-md-4">
     <h2>More is good</h2>
     <p>Let go for a lot more.</p>
   </div>
   <div class="col-md-4">
     <h2>Go get them all</h2>
     <p>Be the best you can be</p>
   </div>
 </div>
